/* CONTAINERS & GRIDS */
.container {
  max-width: 500px;
  margin: 4rem auto;
  padding: 4rem;
  background-color: #fff;
}

.grid {
  display: grid;
}

.grid-2x2 {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  margin: 1rem 0;
}

.header-date {
  grid-template-areas:
    'date month'
    'date year';
  text-align: center;
}

.date {
  grid-area: date;
  font-size: 5rem;
}

.month {
  grid-area: month;
  font-size: 1.8rem;
  align-self: flex-end;
}

.year {
  grid-area: year;
  font-size: 1.8rem;
}

/* Tasks */

.tasks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 400px;
  margin: 0 auto;
}

.task-title {
  max-width: 250px;
  line-height: 1.8rem;
}

.checkbox {
  height: 2.4rem;
  width: 2.4rem;
  margin-left: 1.5rem;
}

.checkbox-label {
  display: none;
}

.task-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.task-delete {
  opacity: 0;
}

.tasks:hover .task-delete {
  opacity: 100;
}
.task-delete {
  background-color: #ff033e;
  border: 0;
  border-radius: 5px;
  font-size: 1rem;
  padding: 0.5rem;
  width: 2.4rem;
  height: 2.4rem;
  cursor: pointer;
  color: #fff;
}

.new-task-container {
  display: flex;
  flex-direction: column;
}

.new-task {
  margin: 3rem auto;
  font-size: 1.6rem;
  border-radius: 5px;
  border: 1px solid black;
  width: 80%;
  padding: 1rem;
}

.add-task {
  cursor: pointer;
  width: 30%;
  margin: 0 auto;
  padding: .5rem;
}